/* Reset style sheet */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 280px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
body > * {
  flex: 0 0 auto;
  width: 100vw;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

​input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  font-size: 100%;
  font-family: inherit;
}

​ol,
ul {
  list-style: none;
}
