/* header container */
.top {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-right: auto;

}

/* high score link */
.top a {
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1em;
}

/* riddles in the dark title */
.top h1 {
    text-align: center;
    font-size: 2em;
    color: gold;
    text-shadow: 3px 0px 0px tan ;
    padding-top: 1.5em;
}

/* timer */
.top h2 {
    color: green;
    padding-top: 2em;
}

/* banner container */
.header-image {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* banner image */
.header-image img {
    padding: 0 5em;
    z-index: -1;
}

/* main container */
.content  {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main .bgImage {
    background-image: ("RIDDLES-IN-THE-DARK/assets/Images/One-ring.jpg");
    background-color: white;
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* starting page */
.styleContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: serif;
    line-height: 1.5em;
    margin-top: -2em;
    margin-bottom: 2em;
}

/* Play button */
#play-button {
    font-family: fantasy;
    font-size: 1.5em;
    color: gold;
    padding: 0em 1em;
    margin: 1em 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
    
}

/* Play button hover properties */
#play-button:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

/* Riddle container */
#riddle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: serif;
    line-height: 1.5em;
    margin: 1em 0;
}

/* Answer button properties */
.buttons {
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 1.5em;
    color: gold;
    padding: 0em 1em;
    margin: 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
}

/* Answer button hover properties */
.buttons:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

/* Hides any element calling this class */
.hidden {
    display: none;
}

/* Style for initials in the form input */
#initials {
    font-family: fantasy;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    border-color: lightgoldenrodyellow;
}

/* Submit button properties */
#submitBtn {
    font-family: fantasy;
    font-size: 1.5em;
    color: gold;
    padding: 0em 1em;
    margin: 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
}

/* Submit botton hover properties */
#submitBtn:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

/* Increases font size of header 1 in top > 480px */
@media only screen and (min-width: 480px) {
    .top h1 {font-size: 3em;
    }
}   

/* Increases font size and padding top of header 1 in top > 900px */
@media only screen and (min-width: 900px) {
    .top h1 {font-size: 4em; padding-top: 1em;}
}

/* Increases font size of header 1 in top > 1200px */
@media only screen and (min-width: 1200px) {
    .top h1 {font-size: 5em;}
}