/* A container to hold the entire page */
.main-container {
    max-height: 100vh;
    text-align: center;
}

/*--------------------------------------------------------------------------------*/
/* Start Header styling */

/* Background color for the hearder */
#bgColor {
    height: 130px;
    background-color: rgb(102, 143, 92);  
}

/* Header container */
.top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* High score link */
.top a {
    color:  rgb(13, 119, 13);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2em;
    margin-left: 1.5em;
}

/* High score link focus properties */
.top a:focus {
    outline-color: gold;
    border-radius: 5px;
}

/* Riddles in the dark title */
.top h1 {
    text-align: center;
    font-size: 45px !important;
    color: rgb(159, 219, 80);
    text-shadow: 3px 0px 0px rgb(167, 131, 55);
    padding-top: 1.5em;
    padding-right: 0.5em;
}

/* Timer text*/
#bgColor h2 {
    color: white;
    display: flex;
    position: fixed;
    top: 3.7em;
    left: 0.5em;
    font-size: 1.3em;
}

/* Timer element time remaining */
.top #time-remaining {
    display: block;
}

/*--------------------------------------------------------------------------------*/
/* Start Header Image page styling */
/* Pipe Sword Ring Mountain */

.header-image {
    margin-bottom: -6em;
}

/*--------------------------------------------------------------------------------*/
/* Start Main page styling */

/* Main container */
.content  {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Generic container styling */
.styleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: serif;
    line-height: 1.5em;
    margin-top: 2em;
    padding: 0 2em;
}

/* Intro display porperty */
#intro {
    display: flex;
    margin-bottom: -3em;
}

/* Start game display property */
#startGame {
    display: none;
}

/* End game display property */
#endGame {
    display: none;
}

/*--------------------------------------------------------------------------------*/
/* Start Intro page styling */

/* Play button */
#play-button {
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: goldenrod;
    text-align: center;
    padding: 0.3em 0.5em;
    margin: 1em 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: rgb(13, 119, 13);
    cursor: pointer;
}

/* Play button hover properties */
#play-button:hover {
    color:  rgb(13, 119, 13);
    background-color: lightgoldenrodyellow;
}

/* Play button focus properties */
#play-button:focus {
    outline: none;
    border: 2px solid gold;
}

/*--------------------------------------------------------------------------------*/
/* Start game Character page styling */

/* Character container */
.characterContainer {
    display: none;
    justify-content: center;
    align-content: center;
    margin-top: 0em;
}

/* Bilbo image and container */
.bilboContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: serif;
    font-size: 1.3em;
    font-weight: bolder;
    color: green;
}

/* Bilbo display property and text styling */
.bilbo {
    visibility: visible;
    margin-right: -2em;
}

/* Gollum image and container */
.gollumContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-weight: bolder;
    color: green;
}

/* Gullum display property and text styling */
.gollum {
    visibility: visible;
    width: 60%;
    font-size: 1em;
    line-height: 1em;
    text-align: start;
}

/*--------------------------------------------------------------------------------*/
/* Start Riddles page styling */

/* Riddles number label */
#riddleNumLable {
    color: grey;
    font-size: 1em;
    margin-top: 2.5em;
}

/* Riddle number */
#riddle-number {
    color: grey;
    font-size: 1em;
}

/* Riddle container */
#riddle {
    width: 100vw;
    font-size: 1.5em;
    font-family: serif;
    font-weight: bolder;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 01em;
    padding: 0 1em;
}

/* Answer button properties */
.buttons {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    line-height: 1.2em;
    color: goldenrod;
    padding: 0.3em 0.5em;
    margin: 0.1em 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: rgb(13, 119, 13);;
    cursor: pointer;
}

/* Answer button hover properties */
.buttons:hover {
    color: rgb(13, 119, 13);;
    background-color: lightgoldenrodyellow;
}

/* Answer button focus properties */
.buttons:focus {
    outline: none;
    border: 3px solid gold;
}


/*--------------------------------------------------------------------------------*/
/* Start Initials submition page styling */

/* Styles for the input of initials */
#initials {
    color: rgb(13, 119, 13);
    font-family: serif;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    border-color: lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    margin-top: -3em;
    margin-bottom: 1em;
}

/* Initials focus properties */
#initials:focus {
    outline: none;
    border: 3px solid gold; 
}

/* Submit button properties */
#submitBtn {
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: goldenrod;
    padding: 0.3em 0.5em;
    margin-top: 0.8em;
    border-color: tan;  
    border-radius: 0.5em;
    background-color: rgb(13, 119, 13);;
}

/* Submit button hover properties */
#submitBtn:hover {
    color: rgb(13, 119, 13);;
    background-color: lightgoldenrodyellow;
}

/* Submit button focus properties */
#submitBtn:focus {
    outline: none;
    border: 3px solid gold;
}

/* Salutations styling */
#salutations {
    width: 100vw;
    color: black;
    font-family: serif;
    font-size: 1.1em;
    margin-top: 2em;
    padding: 0 1em;
}

/* Hobbit cover image styling container */
#hobbit-cover {
    margin-top: 1.5em;
    margin-bottom: 1.7em;
    opacity: 0.8;
}

/*--------------------------------------------------------------------------------*/
/* Start Reveal Gandalf page styling */

/* Styling for Gandalf container */
#gandalfContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: serif;
    line-height: 1.5em;
    margin-top: 3em;
    margin-bottom: 2em;
}

/* Gandalf image display setting */
#gandalf {
    display: none;
    padding-left: 0em;
}

 /* Play again button display setting */
#playAgain {
    display: none;
}

/* Gandalf button style properties */
.gandalfButtons{
    width: 200px;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    padding: 0.3em 0.5em;
    border-color: tan;
    border-radius: 0.5em;
    background-color: rgb(13, 119, 13);;
    cursor: pointer;
}

/* Gandalf play again button */
.gandalfButtons a {
    color: goldenrod;
    text-decoration: none;
    text-transform: uppercase;
}

/* Gandalf play again button hover properties */
.gandalfButtons:hover {
    color: rgb(13, 119, 13);;
    background-color: lightgoldenrodyellow;
}

/* Gandalf play again button focus properties */
.gandalfButtons:focus {
    outline: none;
    border: 3px solid gold;
}

/*--------------------------------------------------------------------------------*/
/* Start High Score page styling */

/* High scores title */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 119, 13);;
    font-family: serif;
    font-weight: bold;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color: rgb(13, 119, 13);;
    margin: 2em auto 0em auto;
}

/* Container to hold the list of high scores */
#list-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: serif;
    font-weight: bolder;
    color: rgb(13, 119, 13);;
    font-size: 1.5em;
    margin: 1em auto;
    padding: 1em;
    position: relative;
    z-index: 1;
}

/* Unordered list container for initials */
#initials-List {
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

/* Initials list */
li {
    text-shadow: -3px 4px 4px grey;
    padding: 0.3em 0;
    z-index: 1;
}

/* container holds the two buttons on high scores page */
#high-scoreBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: serif;
    line-height: 1em;
    margin: 1em 0em;
    padding-left: 1em;
    z-index: 1;
}

/* High score button styling */
.high-scoreBtn {
    width: 175px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: goldenrod;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    padding: 0.3em 0.5em;
    border-color: tan;
    border-radius: 0.5em;
    background-color: rgb(13, 119, 13);
    cursor: pointer;
    z-index: 1;
    
}

/* High score button hover properties */
.high-scoreBtn:hover {
    color: rgb(13, 119, 13);;
    background-color: lightgoldenrodyellow;
}

/* High score button focus properties */
.high-scoreBtn:focus {
    outline: none;
    border: 3px solid gold;
}

/* Lonely Mountain image */
#lonely-mountain {
    opacity: 0.35;
    height: 55vh;
    background-position: center;
    margin-top: -20em;
    margin-bottom: -5em;
    z-index: -1;
}

/*--------------------------------------------------------------------------------*/
/* Start Media Queries styling */

/* For displays > 375px */
@media only screen and (min-width: 375px) {
    .top a {font-size: 1em;}
    .top h1 {font-size: 35px;}
    .top h2 {font-size: 1.2em;}
    .styleContainer {width: 400px;}
    #riddle {width: 360px; font-size: 1em; line-height: 1.4em; font-weight: initial; padding: 0 1.5em;}
    .buttons {width: 15em; font-size: 1.2em; line-height: 1.3em;}
    .characterContainer { max-width: 100vw;}
    .bilboContainer {margin-left: -4em; padding-right: 1em;}
    .gollumContainer {margin-right: 0em; padding-left: 1em;}
    #gandalf {width: 100%; height: 100%; padding: 0 1em;}

    #high-scoreBox {font-size: 1.3em;}
}   

/* For displays > 768px */
@media only screen and (min-width: 768px) {
    .top a {font-size: 1.5em;}
    .top h1 {font-size: 50px !important; padding-top: 1em;}
    .top h2 {font-size: 1.5em;}
    .styleContainer {width: 500px;}
    #riddle {width: 500px; padding: 0;}
    .buttons {width: 18em; font-size: 1.3em;}
    .characterContainer { width: 500px;}
    .bilboContainer {margin-left: 0em; margin-right: 3em;}
    .gollumContainer {margin-right: 0em; margin-left: 5em;}
    #gandalf {width: 150%; height: 100%; padding: 0 1em;}

    #high-scoreBox {font-size: 1.4em;}
}

/* For displays > 1200px */
@media only screen and (min-width: 1200px) {
    .top a {font-size: 2em;}
    .top h1 {font-size: 65px !important;}
    .top h2 {font-size: 2em;}
    .styleContainer {width: 550px;}
    #riddle {width: 550px;}
    .buttons {width: 20em; font-size: 1.3em;}

    #high-scoreBox {font-size: 1.5em;}
}