/* header container */
.top {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-right: auto;

}

/* high score link */
.top a {
    color: green;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 1em;
}

.top a:focus {
    outline: none;
    background-color: gold;
}

/* riddles in the dark title */
.top h1 {
    text-align: center;
    font-size: 50px;
    color: gold;
    text-shadow: 3px 0px 0px tan ;
    padding-top: 1.5em;
}

/* timer */
.top h2 {
    color: green;
    padding-top: 2em;
    padding-left: 1em;
}

/* banner container */
.header-image {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* banner image */
.header-image img {
    padding: 0 5em;
    z-index: -1;
}

/* main container */
.content  {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main .bgImage {
    background-image: ("RIDDLES-IN-THE-DARK/assets/Images/One-ring.jpg");
    background-color: white;
    width: auto;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Setting game page initial display to none */
#startGame {
    display: none;
}

/* Setting end game page initial display to none */
#endGame {
    display: none;
}

/* starting page */
.styleContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: serif;
    line-height: 1.5em;
    margin-top: -2em;
    margin-bottom: 2em;
}

/* Play button */
#play-button {
    font-family: fantasy;
    font-size: 1.3em;
    color: gold;
    padding: 0em 1em;
    margin: 1em 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
    cursor: pointer;
}

/* Play button hover properties */
#play-button:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

#play-button:focus {
    outline: none;
    background-color: lightgoldenrodyellow;
}

/* Riddle container */
#riddle {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: serif;
    line-height: 1.5em;
    margin: 1em 0;
    padding: 0 1em;
}

/* Answer button properties */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 1.4em;
    color: gold;
    padding: 0.5em 1em;
    margin: 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
    cursor: pointer;
}

/* Answer button hover properties */
.buttons:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

.buttons:focus {
    outline: none;
    background-color: lightgoldenrodyellow;
}

/* Style for initials in the form input */
#initials {
    font-family: fantasy;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.5em;
    border-color: lightgoldenrodyellow;
}

/* Submit button properties */
#submitBtn {
    font-family: fantasy;
    font-size: 1.5em;
    color: gold;
    padding: 0em 1em;
    margin: 0;
    border-color: tan;
    border-radius: 0.5em;
    background-color: green;
}

/* Submit botton hover properties */
#submitBtn:hover {
    color: green;
    background-color: lightgoldenrodyellow;
}

/* Increases font size of header 1 in top > 480px */
/* Riddle container responsive styles */
@media only screen and (min-width: 480px) {
    .top h1 {font-size: 50px;}
    .styleContainer {width: 400px;}
    #riddle {width: 450px; font-size: 1.1em; line-height: 1.4em; font-weight: initial;}
    .buttons {width: 13em;}
}   

/* Increases font size and padding top of header 1 in top > 900px */
/* Riddle container responsive styles */
@media only screen and (min-width: 900px) {
    .top h1 {font-size: 60px; padding-top: 1em;}
    .styleContainer {width: 450px;}
    #riddle {width: 500px;}
    .buttons {width: 14em;}
}

/* Increases font size of header 1 in top > 1200px */
/* Riddle container responsive styles */
@media only screen and (min-width: 1200px) {
    .top h1 {font-size: 70px;}
    .styleContainer {width: 500px;}
    #riddle {width: 550px;}
    .buttons {width: 15em;}
}